In [1]:
import numpy as np
import math
from random import seed
from random import random
from numba import jit

In [3]:
T_start = 1000
T_end = 1
cooling_factor = 0.99
nMarkov = 1000
from functions import read_tsp_file
coords = read_tsp_file("TSP-Configurations/eil51.tsp")

from functions import comp_shortest_path


itr, min_cost, optimal_list_cities = comp_shortest_path(
    T_start, T_end, cooling_factor, nMarkov, coords, dataset="eil51", save_data=True)
    

itr, min_cost, optimal_list_cities = comp_shortest_path(
    T_start, T_end, cooling_factor, nMarkov, coords, dataset="eil51", save_data=True)

In [5]:
from functions import read_data
df = read_data()
# print(min_cost)
df.head()

,Minimal Cost,Optimal Path,iterations,Computation Time,Dataset,Start Temperature,End Temperature,Markov Chain Length
0,433.336992,[ 4 37 10 11 45 50 26 31 0 21 1 15 49 33 29 ...,688,11.541096,eil51,1000,1,1000
1,416.582378,[42 6 22 23 13 24 17 46 16 36 4 37 10 31 50 ...,688,11.451278,eil51,1000,1,1000
2,424.225321,[50 45 11 46 3 17 12 40 39 18 41 43 16 36 14 ...,688,12.237017,eil51,1000,1,1000

In [5]:
print(optimal_list_cities)

[31  0 21  1 10 37  4 36 16  3 17 46 11 45 50 26  5 47 22 23 42  6 25  7
 30 27  2 35 34 19 28 20 15 49 33 29  8 48  9 38 32 44 14 43 41 39 18 40
 12 24 13]

In [6]:
print(itr)

688